html,
body {
    height: 100%;
    overflow: hidden;
}

/*主页面*/

@media screen and (max-width: 1087px) {
    .navbar {
        align-items: stretch;
        display: flex;
    }
    .navbar-brand {
        align-items: stretch;
        display: flex;
        flex-shrink: 0;
        min-height: 3.25rem;
    }
    .navbar-menu {
        display: flex !important;
        flex-grow: 1;
        flex-shrink: 0;
        align-items: stretch;
        padding: 0 !important;
        box-shadow: none !important;
    }
    .navbar-end {
        justify-content: flex-end;
        margin-left: auto;
        align-items: stretch;
        display: flex !important;
    }
    .navbar-item {
        display: flex !important;
        align-items: center;
        line-height: 1.5;
        padding: 0.5rem 0.75rem;
        position: relative;
    }
}

.block-header-end {
    display: flex;
    align-items: stretch;
    float: right;
    font-size: 12px;
}

.block-header-begin {
    display: flex;
    align-items: stretch;
    float: left;
}

.block-title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    padding-right: 2rem;
}

.table-count {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem !important;
}

.table-search {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem !important;
}

.table thead th {
    padding: 12px 10px !important;
}

table td,
table th {
    vertical-align: middle !important;
}

.text-center {
    text-align: center !important;
    font-size: 12px;
    text-transform: uppercase;
}

.pagination-list {
    list-style: none !important;
}